/*#root -> a mappa gyökere, az index.html fájl beállításai*/
body{
  background-color: #f8fff9;
}
/*Kártyák*/
.notecard{
  display: flex;
  flex-wrap: wrap;
  background-color: #f6c453;
  border: 1px solid #183a1d;
  border-radius: 20px;
}
.jegyzet{
  margin: 10px;
  text-align: center;
  justify-content: center;
}

/*Nav*/
.nav{
  display: flex;
  flex-wrap: wrap;
  background-color: #183a1d;
  width: 100%;
  height: 70px;
  top: 0;
  left: 0;
  position: fixed;
  align-items: center;
}
.navitems{
  margin-left: 20px;
}
.linktext{
  color:#f6c453
}
.linktext:hover{
  color: #af8c3c;
}
