.sidebarNav {
    position: fixed !important;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #183a1d;
}
@media screen and (max-width: 1884px) {
    .sidebarNav{
        display: none;
    }
    .HeaderNavItem{
        display: none;
    }
    .SmallScreenMenu{
        display: block;
    }
}
@media screen and (min-width: 1884px) {
    .HeaderNavItem{
        display: block;
    }
    .SmallScreenMenu{
        display: none;
    }
}
.SmallScreenMenu{
    color: #f6c453;
    margin-left: 30px;
}
.SmallScreenMenu:hover{
    cursor: pointer;
}
.sidebarMenu {
    margin-top: 100px;
    padding: 16px;
    text-decoration: none;
}
.HeaderNav {
    height: 100px;
    z-index: 100;
}
.HeaderNavItem{
    margin-left: 300px;
    color: #f6c453;
    font-size: 40px;
}
.MyNoteContainer{
    margin-top: 120px;
    display: flex;
    justify-content: center;
}
.notecard{
    height: 400px;
    width: 300px;
    margin: 10px;
    border-radius: 25px;
    display: flex;
}
.noteContain{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}
.notecontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Icons{
    z-index: 100;
    display: flex;
}
.Delete{
    margin-left: auto;
}