.sidebarNav{
    position: fixed !important;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: #183a1d;    
}
.sidebarMenu{
    margin-top: 100px;
}
.HeaderNav{
    height: 100px;
}
.HeaderNavItem{
    margin-left: 300px;
    color: white;
    font-size: 40px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}