/*#root -> a mappa gyökere, az index.html fájl beállításai*/
#root{
  margin: auto;
}

/*Kártyák*/
.card{
  display: flex;
  gap: 10px;
}
.jegyzet{
  height: 50px;
  padding: 10px;
  text-align: center;
}
.adatok{
  width: 300px;
  height: 400px;
  flex-direction: column; /*egymás alatt*/
  align-items: center;
  background-color: #f6c453;
  border: 1px solid #183a1d;
  margin: 10px 0 10px 0;
  border-radius: 20px;
}

/*Nav*/
.nav{
  display: flex;
  background-color: #183a1d;
  width: 100vw;
  height: 100px;
}
.links{
  margin: 10px;
  
}
.linktext{
  color:#f6c453
}
.linktext:hover{
  color: #af8c3c;
}