/*Login*/
body {
    display: flex;
    justify-content: center;
}
.formLogin {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: #183a1d;
    color: #f8fff9;
    box-shadow: 5px 5px #0b1b0e;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.5);
}
.formPoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}
.formPoint,
.formButtons {
    margin: auto;
}
.loginButtons {
    width: 100px;
    margin: 10px;
    background-color: #f8fff9;
    color: #183a1d;
    border: 1px solid #183a1d;
    box-shadow: 5px 5px #0b1b0e;
    box-shadow: inset 0 0 30px rgba(0,0,0,0.5);
}
.FormInput {
    border-radius: 5px;
    text-indent: 5px;
    background-color: #f8fff9;
    color: #183a1d;
    box-shadow: 5px 5px #0b1b0e;
    
}
